.card {
  margin-top: 25%;
  margin-bottom: 5%;
}

.table__vagas__indicadas {
  margin-top: 30vh;
  margin-bottom: 60vh !important;
  background-color: rgba(255, 255, 255, 0.100) !important;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  text-align: center;
  border-radius: 20px;
}

td {
  vertical-align: middle;
  font-weight: bold;
}


@media screen and (max-width: 850px) {
  .table__vagas__indicadas {
    margin-top: 20vh;
    margin-bottom: 20vh !important;
    vertical-align: middle;
    z-index: 2;
  }

  .table th {
    vertical-align: middle;
  }

  .fim img {
    width: 10vw;
  }
  .overflow {
    overflow: scroll;
  }
}
