html {
    font-size: 14px;
    font-weight: bold;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
  }
  
  body {
    color: #666;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
  }
  
  a {
    text-decoration: none !important;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    font-weight: bold;
  }
  
  div, h2, p, figure {
    margin: 0;
    padding: 0;
  }
  
  .principal {
    margin: 0 auto;
    max-width: 1040px;
    padding: 10px;
  }
  
  .column {
    flex: 1;
    flex-direction: column;
  }
  
  #primeira {
    margin-top: 10%;
  }
  
  #segunda {
    margin-top: 10%;
  }
  
  .artigo {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #666;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    margin: 10px;
  }
  
  .artigo:hover,
  .artigo:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #444;
  }
  
  .artigo-image {
    background: #eee;
    display: block;
    padding-top: 75%;
    position: relative;
    width: 100%;
  }
  
  .artigo-image img {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .artigo-image.is-3by2 {
    padding-top: 66.6666%;
  }
  
  .artigo-image.is-16by9 {
    padding-top: 56.25%;
  }
  
  .artigo-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
  }
  
  .artigo-title {
    color: #333;
    flex-shrink: 0;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .artigo-content {
    flex: 1;
    margin-top: 5px;
  }
  
  .artigo-info {
    display: flex;
    font-size: 0.85em;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  @media screen and (min-width: 800px) {
    .columns,
    .column {
      display: flex;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .first-artigo {
      flex-direction: row;
    }
  
    .first-artigo .artigo-body {
      flex: 1;
    }
  
    .first-artigo .artigo-image {
      height: 300px;
      order: 2;
      padding-top: 0;
      width: 400px;
    }
  
    .main-column {
      flex: 3;
    }
  
    .nested-column {
      flex: 2;
    }
  }