.card {
  margin-top: 25%;
  margin-bottom: 5%;
}

.table__casas {
<<<<<<< HEAD
  margin-top: 14%;
  text-align: center;
  margin-bottom: 15% !important;
=======
  margin-top: 30vh;
  margin-bottom: 55vh !important;
  text-align: center;
>>>>>>> 8933722 ('Finalizando-Projeto')
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

<<<<<<< HEAD
=======
.btn__funcoes {
  width: 3vw !important;
  margin-left: 0.5em;
}

.btn__color-delete {
  background-color: rgba(255, 0, 0, 0.384);
}

.btn__color-edit {
  background-color: rgba(0, 140, 255, 0.377);
}

>>>>>>> 8933722 ('Finalizando-Projeto')
td {
  vertical-align: middle;
  font-weight: bold;
}

@media screen and (max-width: 850px) {
  .table__casas {
<<<<<<< HEAD
    margin-top: 20vh;
    margin-bottom: 20vh !important;
=======
    margin-top: 30vh;
    margin-bottom: 70vh !important;
>>>>>>> 8933722 ('Finalizando-Projeto')
    vertical-align: middle;
    z-index: 2;
  }

  .table th {
    vertical-align: middle;
  }

  .fim img {
    width: 10vw;
  }
<<<<<<< HEAD
  .overflow {
    overflow: scroll;
  }
=======
  .table__overflow {
    overflow: scroll !important;
  }

  .btn__funcoes {
    width: 10vw !important;
  }

>>>>>>> 8933722 ('Finalizando-Projeto')
}
